h1{
    color: #C84630;
    text-transform: uppercase
}
body{background-color:  color:#DDAE7E;}
.container{background-image: url(paint.jpg);
.surname{color:#C1A5A9;}
/****Work experience****/
h2{color:#807182;}
***Resume head****/

h4{color:darksalmon}
#objetive{
    margin-top: 3em
    
}
.profile pic{
    border-radius: 50%
}